.add-product {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 7px;
  padding-bottom: 16px;
  border-bottom: 1px solid @secondary-bg--darken;

  &:first-child {
    border-top: 1px solid @secondary-bg--darken;
  }
}

.add-product__title {
  padding: 7px 7px 4px 0;
  margin: 0;
  width: 280px;
}

.add-product__link {
  text-transform: uppercase;
  font-weight: 400;
  color: @primary-text--dark;
  font-size: 16px;
  line-height: 16px;
}

.add-product__text {
  padding: 7px 7px 15px 0;
  margin: 0;
  width: 140px;
  font-family: @secondary-font;
  font-weight: 400;
  line-height: 14px;

  &--right {
    text-align: right;
    padding-right: 0;
    padding-left: 7px;
  }
}

@media (min-width: @tablet-width) {
  .add-product {
    padding: 17px 37px 27px 37px;
    border-left: 1px solid @secondary-bg--darken;
    border-right: 1px solid @secondary-bg--darken;
  }

  .add-product__title {
    padding-bottom: 23px;
    width: 346px;
  }

  .add-product__link {
    font-size: 20px;
    line-height: 20px;
  }

  .add-product__text {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 0;
    padding: 13px 7px 17px 0;
    width: 199px;
    text-align: right;

    &--right {
      padding-right: 0;
      padding-left: 7px;
      width: 87px;
    }
  }

  .add-product__btn {
    width: 632px;
  }
}

@media (min-width: @desktop-width) {
  .add-product__link {
    font-size: 20px;
    line-height: 20px;
  }

  .add-product__btn {
    width: 245px;
  }
}
