.add-product {
  display: flex;
  flex-wrap: wrap;
  padding-top: 14px;
  padding-bottom: 20px;
  border-bottom: 1px solid @secondary-bg--darken;
}

.add-product__title {
  padding: 0;
  margin: 0;
  width: 280px;
  margin-bottom: 15px;
}

.add-product__link {
  text-transform: uppercase;
  font-weight: 400;
  color: @primary-text--dark;
  font-size: 16px;
  line-height: 16px;
}

.add-product__text {
  padding: 0;
  margin: 0;
  width: 140px;
  font-family: @secondary-font;
  font-weight: 400;
  line-height: 14px;
  margin-bottom: 15px;

  &--right {
    text-align: right;
  }
}
