.add-product {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 14px;
  padding-bottom: 20px;
  border-bottom: 1px solid @secondary-bg--darken;

  &:first-child {
    border-top: 1px solid @secondary-bg--darken;
  }
}

.add-product__title {
  padding: 0;
  margin: 0;
  width: 280px;
  margin-bottom: 15px;
}

.add-product__link {
  text-transform: uppercase;
  font-weight: 400;
  color: @primary-text--dark;
  font-size: 16px;
  line-height: 16px;
}

.add-product__text {
  padding: 0;
  margin: 0;
  width: 140px;
  font-family: @secondary-font;
  font-weight: 400;
  line-height: 14px;
  margin-bottom: 15px;

  &--right {
    text-align: right;
  }
}

@media (min-width: @tablet-width) {
  .add-product__title {
    margin-bottom: 0;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 7px;
  }

  .add-product__link {
    font-size: 20px;
    line-height: 20px;
  }

  .add-product__text {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 0;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 7px;

    &--right {
      padding-right: 0;
      padding-left: 7px;
    }
  }

  .add-product__btn {
    width: 632px;
  }
}

@media (min-width: @desktop-width) {
  .add-product__link {
    font-size: 20px;
    line-height: 20px;
  }

  .add-product__btn {
    width: 245px;
  }
}
