.box-content {
  padding-top: 20px;
  padding-bottom: 20px;
}

.box-content--grey {
  background-image: linear-gradient(white 0, @secondary-bg 0);
}

.box-content__title {
  padding: 0;
  margin: 0;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: @primary-text--darken;
  margin-bottom: 20px;
}

@media (min-width: @tablet-width) {
  .box-content--grey {
    background-image: linear-gradient(white 57%, @secondary-bg 57%);
  }
}

@media (min-width: @desktop-width) {
  .box-content--grey {
    background-image: linear-gradient(white 70%, @secondary-bg 70%);
  }
}
