.btn {
  display: inline-block;
  text-align: center;
  font: inherit;
  text-transform: uppercase;
  font-size: inherit;
  color: @secondary-text;
  background-color: @primary-bg;
  min-width: 280px;
  padding: 15px 0px;
  border: none;

  &:hover,
  &:focus {
    background-color: @primary-bg--dark;
    color: @secondary-text--dark;
  }

  &:active{
    background-color: @primary-bg--dark;
    color: @secondary-text--darken;
  }
}
