.contacts {
  text-align: center;
  background-color: #ffffff;
}

.contacts__wrap {
  display: flex;
  justify-content: space-around;
  min-height: 114px;
  padding-top: 30px;
  padding-bottom: 25px;
}

.contacts__promo {
  padding: 0;
  margin: 0;
  text-align: left;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  margin-right: 10px;
}

.contacts__address {
  text-align: left;
  line-height: 20px;
  font-style: normal;
  font-family: @secondary-font;
  font-weight: 400;
}

@media (min-width: @tablet-width) {
  .contacts__promo {
    font-size: 20px;
    line-height: 25px;
  }

  .contacts__address {
    font-size: 16px;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    position: relative;
  }

  .contacts__wrap {
    position: absolute;
    background-color: white;
    width: 570px;
    min-height: 200px;
    left: 80px;
    top: 95px;
  }
}
