.contacts {
  min-height: 114px;
  text-align: center;
  background-color: #ffffff;
}

.contacts__wrap {
  display: flex;
  justify-content: space-around;
}

.contacts__promo {
  .reset();
  text-align: left;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

.contacts__address {
  text-align: left;
  line-height: 20px;
  font-style: normal;
}

.contacts__map {
  background-color: @secondary-bg;
}
