.contacts {
  text-align: center;
  background-color: #ffffff;
}

.contacts__wrap {
  display: flex;
  justify-content: space-around;
  min-height: 114px;
  padding: 30px 20px 25px 20px;
}

.contacts__promo {
  .reset();
  text-align: left;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

.contacts__address {
  text-align: left;
  line-height: 20px;
  font-style: normal;
  font-family: @secondary-font;
  font-weight: 400;
}
