.copyright {
  min-height: 80px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright__title {
  font-size: 16px;
  line-height: 16px;
  font-family: @secondary-font;
  color: @primary-text;
}
