.field {
  margin: 0;
  padding-top: 17px;
  padding-bottom: 15px;

  &--radio {
    border-top: 1px solid @secondary-bg--darken;
    border-bottom: 1px solid @secondary-bg--darken;
  }
}

.field__title {
  padding: 10px 10px 25px 0;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: @primary-text--darken;
}

@media (min-width: @tablet-width) {
  .field {
    flex-grow: 1;

    &--radio {
      border-left: 1px solid @secondary-bg--darken;
    }
  }

  .field__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .field--input,
  .field--radio {
    flex-grow: 1;
    width: 570px;
  }
}

@media (min-width: @desktop-width) {
  .field {
    &--radio {
      border-right: 1px solid @secondary-bg--darken;
      max-width: 570px;
      flex-grow: 1;
    }

    &--input {
      max-width: 570px;
      flex-grow: 1;
    }
  }

  .field__title {
    font-size: 36px;
    line-height: 36px;
  }
}
