.form-choice__title {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: @primary-text--darken;
  text-transform: uppercase;
}

.form-choice__text {
  font-family: @secondary-font;
  font-weight: 400;
  line-height: 16px;
}
