.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid @secondary-bg--dark;
}

.main-nav__toggle {
  width: 24px;
  height: 18px;
  background-image: url("../../img/icon-mobile-menu.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  border-width: 0;
}

@media (min-width: @tablet-width) {
  .main-nav {
    border-bottom: none;
  }

  .main-nav__toggle {
    display: none;
  }
}
