.main-nav__wrap {
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid @secondary-bg--dark;
}

.main-nav__logo-text {
  display: block;
  padding: 24px 10px;
}

.main-nav__img {
  display: block;
}

.main-nav__toggle {
  padding: 0;
  width: 66px;
  height: 66px;
  background-color: transparent;
  border-width: 0;
  position: relative;
  cursor: pointer;
}

.main-nav--opened .main-nav__toggle {
  &::before {
    content: "";
    display: block;
    width: 24px;
    height: 2px;
    background-color: @primary-text;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
  }

  &::after {
    content: "";
    display: block;
    width: 24px;
    height: 2px;
    background-color: @primary-text;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) rotate(-45deg);
  }
}

.main-nav--closed .main-nav__toggle {
  &::before {
    content: "";
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 24px;
    height: 2px;
    background-color: @primary-text;
    box-shadow: 0 8px 0 @primary-text,
      0 16px 0 @primary-text;
  }
}

.main-nav--closed .site-nav {
  display: none;
}

@media (min-width: @tablet-width) {
  .main-nav--closed .site-nav {
    display: flex;
  }

  .main-nav__wrap {
    padding-left: 0;
    padding-right: 0;
    min-width: 0;
    margin-left: 0;
    margin-right: 0;
    border-bottom: none;
  }

  .main-nav__logo-text {
    display: none;
  }

  .main-nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    min-width: 768px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
    height: 110px;
  }

  .main-nav__toggle {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    width: 1300px;
    padding-left: 40px;
    padding-right: 40px;
    height: 170px;
  }

  .main-nav--index {
    position: absolute;
    z-index: 100;
    left: 50%;
    margin-left: -650px;
  }

  .main-nav--index .site-nav {
    width: 543px;
  }

  .main-nav--index .site-nav__link {
    color: @white;
  }
}
