.more-products__btn {
  font-size: 16px;
  line-height: 20px;
  font-family: inherit;
  font-weight: 400;
}

.more-products__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: @primary-text--darken;
  text-transform: uppercase;
}

.more-products__desc {
  font-family: @secondary-font;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}
