.page-footer__logo {
  display: block;
  min-height: 24px;
  padding-top: 38px;
  padding-bottom: 33px;
  border-bottom: 1px solid @secondary-bg--darken;
  color: @primary-text;

  &:hover,
  &:focus {
    color: @primary-text--60;
  }

  &:active {
    color: @primary-text--30;
  }
}

.page-footer__logo-svg {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.page-footer__wrap {
  background-color: @secondary-bg;
}

@media (min-width: @tablet-width) {
  .page-footer__logo {
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: none;
  }

  .page-footer__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 33px;
    padding-bottom: 33px;
  }
}
