.product {
  margin: 0;
  padding-top: 0;
  padding-bottom: 25px;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid @secondary-bg--darken;
}

.product__wrap {
  width: 140px;
  padding-top: 25px;
}

.product__img {
  display: block;
  width: 140px;
}

.product__title {
  margin: 0;
  padding: 0;
  color: @primary-text--darken;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  margin-bottom: 10px;
}

.product__link {
  color: inherit;
}

.product__option,
.product__value {
  width: 70px;
  font-size: 12px;
  line-height: 16px;
  font-family: @secondary-font;
  font-weight: 400;
  color: @primary-text;
}

.product__value {
  text-align: right;
}

@media (min-width: @tablet-width) {
  .product {
    width: 324px;
    min-height: 431px;
    justify-content: center;
    align-items: flex-start;
    padding-top: 10px;
    background-image: linear-gradient(white 20%, @secondary-bg 20%);
    margin-bottom: 30px;
  }

  .product__wrap {
    width: 250px;
    padding-top: 0;
    margin-bottom: 15px;
  }

  .product__title {
    font-size: 20px;
    margin-bottom: 17px;
    text-align: center;
  }

  .product__option,
  .product__value {
    width: 125px;
    padding: 8px 5px;
    font-size: 16px;
    line-height: 16px;
  }
}

@media (min-width: @desktop-width) {
  .product {
    width: 245px;
    justify-content: center;
  }

  .product__wrap {
    width: 169px;
  }

  .product__option,
  .product__value {
    width: 84px;
    font-size: 16px;
    line-height: 16px;
  }
}
