.product {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
  padding-bottom: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 500px;
  border-bottom: 1px solid @secondary-bg--darken;
}

.product__features {
  border-collapse: collapse;
}

.product__wrap {
  width: 140px;
  padding-top: 22px;
  padding-bottom: 16px;
}

.product__img {
  display: block;
  width: 140px;
  height: 144px;
}

.product__pic {
  width: 140px;
  height: 144px;
}

.product__title {
  margin: 0;
  padding: 0;
  color: @primary-text--darken;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  margin-bottom: 10px;
  width: 75px;
}

.product__link {
  color: inherit;
}

.product__option,
.product__value {
  padding: 0;
  width: 70px;
  font-size: 12px;
  line-height: 16px;
  font-family: @secondary-font;
  font-weight: 400;
  color: @primary-text;
}

.product__value {
  text-align: right;
}

@media (min-width: @tablet-width) {
  .product {
    width: 324px;
    min-height: 543px;
    align-items: flex-start;
    padding: 29px 35px;
    background-image: linear-gradient(white 21%, @secondary-bg 21%);
    margin-bottom: 30px;
  }

  .product__wrap {
    width: 250px;
    padding-top: 0;
  }

  .product__img {
    display: block;
    width: 324px;
    margin-bottom: 90px;
  }

  .product__pic {
    width: 324px;
    height: 172px;

    &--big {
      height: 208px;
    }
  }

  .product__title {
    width: 140px;
    font-size: 20px;
    margin-bottom: 16px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .product__option,
  .product__value {
    width: 125px;
    padding: 8px 5px;
    font-size: 16px;
    line-height: 16px;
  }

  .product__option {
    padding-left: 0;
  }

  .product__value {
    padding-right: 0;
  }

  .product__features tr {
    border-bottom: 1px solid @secondary-bg--darken;
  }
}

@media (min-width: @desktop-width) {
  .product {
    width: 245px;
    justify-content: center;
  }

  .product__wrap {
    width: 169px;
  }

  .product__img {
    display: block;
    width: 245px;
  }

  .product__pic {
    width: 245px;
    height: 172px;

    &--big {
      height: 208px;
    }
  }

  .product__option,
  .product__value {
    width: 84px;
    font-size: 16px;
    line-height: 16px;
  }
}
