.questionnaire {
  padding-top: 10px;
  padding-bottom: 10px;
}

.questionnaire__title {
  margin: 0;
  padding: 5px 10px 15px 0;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: @primary-text--darken;
}

@media (min-width: @tablet-width) {
  .questionnaire {
    padding-top: 27px;
    padding-bottom: 73px;
  }

  .questionnaire__title {
    font-size: 60px;
    margin-bottom: 32px;
  }
}

@media (min-width: @desktop-width) {
  .questionnaire {
    padding-top: 18px;
    padding-bottom: 73px;
  }
}
