.radio {
  display: block;
  margin-bottom: 22px;
}

.radio__label {
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  color: @primary-text--dark;
}

@media (min-width: @tablet-width) {
  .radio__label {
    font-size: 20px;
    line-height: 20px;
  }
}
