.reviews__title {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: @primary-text--darken;
  text-transform: uppercase;
  text-align: center;
}

.reviews__img {
  text-align: center;
}

.reviews__desc {
  font-family: @secondary-font;
  font-weight: 400;
}
