.reviews {
  padding-top: 10px;
  padding-bottom: 14px;
  background-image: linear-gradient(white 0, @secondary-bg 0);
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.reviews__wrap {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
}

.reviews__title {
  padding: 10px 10px 10px 0;
  margin: 0;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: @primary-text--darken;
}

.reviews__desc {
  padding-top: 10px;
  padding-bottom: 15px;
  padding-right: 10px;
  font-family: @secondary-font;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
}

@media (min-width: @tablet-width) {
  .reviews {
    background-image: linear-gradient(white 60%, @secondary-bg 60%);
    padding-top: 33px;
    padding-bottom: 70px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .reviews__wrap {
    width: 708px;
  }

  .reviews__title {
    margin-bottom: 45px;
    font-size: 60px;
    line-height: 60px;
  }

  .reviews__desc {
    margin-bottom: 26px;
  }
}

@media (min-width: @desktop-width) {
  .reviews {
    display: flex;
    flex-wrap: wrap;
    background-image: linear-gradient(white 25%, @secondary-bg 25%);
    padding-top: 12px;
    padding-bottom: 38px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .reviews__desc {
    margin-bottom: 43px;
  }

  .reviews__wrap {
    width: 610px;
    padding-right: 161px;
    margin-left: auto;
    margin-right: 0;
  }

  .reviews__title {
    margin-bottom: 126px;
  }
}
