.site-nav {
  margin: 0 auto;
  padding-left: 0;
  list-style: none;
  text-transform: uppercase;
  color: @primary-text--darken;
}

.site-nav__item {
  padding: 21px 20px;
  text-align: center;
  border-bottom: 1px solid @secondary-bg--dark;
}

.site-nav__link {
  color: inherit;
  font-family: inherit;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
}

@media (min-width: @tablet-width) {
  .site-nav {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
  }

  .site-nav__item {
    margin-right: 37px;
    border-bottom: none;

    &:last-child {
      margin-right: 0;
      padding-right: 0;
    }
  }

  .site-nav__link {
    font-size: 18px;
    line-height: 24.86px;
    font-weight: 400;
  }
}

@media (min-width: @desktop-width) {
  .site-nav--index {
    width: 543px;
  }

  .site-nav--index .site-nav__link {
    color: @white;
  }
}
