.site-nav {
  padding: 0;
  margin: 0;
  list-style: none;
  text-transform: uppercase;
  color: @primary-text--darken;
}

.site-nav__item {
  padding-top: 21px;
  padding-bottom: 21px;
  margin: 0;
  text-align: center;
  min-height: 66px;
  min-width: 280px;
  border-bottom: 1px solid @secondary-bg--dark;
}

.site-nav__link {
  color: inherit;
  font-family: inherit;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
}

@media (min-width: @tablet-width) {
  .site-nav {
    display: flex;
    flex-wrap: wrap;
  }

  .site-nav__item {
    min-width: 0;
    margin-right: 37px;
    border-bottom: none;

    &:last-child {
      margin-right: 0;
    }
  }

  .site-nav__link {
    font-size: 18px;
    line-height: 24.86px;
    font-weight: 400;
  }
}
