.slider {
  width: 320px;
  margin-left: auto;
  margin-right: auto;

}

.slider__img {
  margin-bottom: 10px;
  width: 320px;
  height: 240px;
}

.slider__after {
  display: none;
}

@media (min-width: @tablet-width) {
  .slider {
    width: 708px;
    padding-top: 58px;
  }

  .slider__img {
    width: 690px;
    height: 517px;
  }

  .slider__wrap {
    position: relative;
    height: 536px;
    padding-left: 16px;
  }

  .slider__after {
    width: 690px;
    height: 517px;
    display: block;
  }

  .slider__before {
    position: absolute;
    top: 4px;
    left: 16px;
    overflow: hidden;
    width: 337px;
  }
}

@media (min-width: @desktop-width) {
  .slider {
    width: 690px;
    text-align: right;
    margin-left: 0;
    padding-top: 0;
  }

  .slider__wrap {
    height: 509px;
  }

  .slider__img {
    width: 690px;
    height: 517px;
    margin-bottom: 30px;
  }
}
