.slider {
  width: 320px;
  margin-left: auto;
  margin-right: auto;

}

.slider__img {
  margin-bottom: 10px;
  width: 320px;
  height: 240px;
}

@media (min-width: @tablet-width) {
  .slider {
    width: 708px;
    padding-top: 58px;
  }

  .slider__img {
    width: 690px;
    height: 517px;
  }
}

@media (min-width: @desktop-width) {
  .slider {
    width: 690px;
    text-align: right;
    margin-left: 0;
    padding-top: 0;
  }

  .slider__img {
    width: 690px;
    height: 517px;
    margin-top: -43px;
    margin-bottom: 30px;
  }
}
