.slider {
  width: 280px;
}

.slider__img {
  text-align: center;
  margin-bottom: 30px;
}

@media (min-width: @tablet-width) {
  .slider {
    width: 708px;
  }
}

@media (min-width: @desktop-width) {
  .slider {
    width: 610px;
  }
}
