.socials {
  padding: 10px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  min-height: 64px;
  border-bottom: 1px solid @secondary-bg--darken;
  min-width: 280px;
}

.socials__item {
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}

.socials__link {
  position: relative;
  width: 46px;
  height: 40px;
  display: block;
  display: flex;
  color: #666666;

  &:hover,
  &:focus {
    color: @primary-bg;
  }

  &:active {
    color: rgba(104, 183, 56, 0.3);
  }
}

.socials__vk,
.socials__insta,
.socials__fb {
  margin: auto;
}

@media (min-width: @tablet-width) {
  .socials {
    border-bottom: none;
    padding: 15px;
  }

  .socials__vk {
    width: 30px;
    height: 16px;
  }

  .socials__insta {
    width: 23px;
    height: 23px;
  }

  .socials__fb {
    width: 14px;
    height: 28px;
  }
}
