.sport-programme {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 10px;
}

.sport-programme__item {
  min-width: 280px;
  min-height: 267px;
  background-color: @secondary-bg;
  padding: 20px 20px 10px;
  margin-bottom: 20px;
}

.sport-programme__item:last-child {
  margin-bottom: 0;
}

.sport-programme__title {
  margin: 0;
  padding: 10px 10px 10px 70px;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  color: @primary-text--darken;
  text-transform: uppercase;
  position: relative;

  &::before {
    content: "";
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: @primary-bg;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-repeat: no-repeat;
  }

  &--slim::after {
    width: 50px;
    height: 50px;
    left: 10px;
    background-image: url("../img/icon-cat-slim.svg");
  }

  &--pro::after {
    width: 67px;
    height: 31px;
    left: -10px;
    background-image: url("../img/icon-cat-pro.svg");
  }
}

.sport-programme__text {
  border-bottom: 1px solid @secondary-bg--dark;
  padding: 20px 0;
  margin: 0;
  font-family: @secondary-font;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 10px;
}

.sport-programme__btn {
  display: inline-block;
  padding: 10px 35px 10px 0;
  color: @primary-text--darken;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  position: relative;

  &::after {
    content: "";
    width: 24px;
    height: 11px;
    background-image: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
  }

  &:hover {
    padding-right: 49px;
  }

  &:active,
  &:focus {
    color: @primary-text--darken--30;
  }

  &:hover&::after {
    content: "";
    width: 32px;
    background-image: url("../img/icon-right-arrow-verylong.svg");
  }
}

@media (min-width: @tablet-width) and (max-width: @desktop-width) {
  .sport-programme {
    padding-bottom: 20px;
  }

  .sport-programme__item {
    width: 708px;
    min-height: 372px;
    flex-grow: 1;
    padding-top: 62px;
    padding-left: 55px;
    padding-bottom: 45px;
    position: relative;
    margin-bottom: 28px;

    &--slim {
      padding-right: 280px;
    }

    &--pro {
      padding-right: 310px;
    }

    &::before {
      content: "";
      width: 200px;
      height: 200px;
      border-radius: 50%;
      position: absolute;
      right: 62px;
      top: 50%;
      transform: translateY(-50%);
      background-color: @primary-bg;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      background-repeat: no-repeat;
    }

    &--slim::after {
      width: 140px;
      height: 217px;
      top: 50%;
      right: 89px;
      transform: translateY(-50%);
      background-image: url("../img/icon-cat-slim.svg");
    }

    &--pro::after {
      width: 295px;
      height: 113px;
      top: 50%;
      right: 1px;
      transform: translateY(-50%);
      background-image: url("../img/icon-cat-pro.svg");
    }
  }

  .sport-programme__title {
    padding-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 36px;
    line-height: 37px;

    &::before {
      content: "";
      display: none;
    }

    &::after {
      content: "";
      display: none;
    }
  }

  .sport-programme__text {
    padding-top: 14px;
    border-bottom: none;
    margin-bottom: 17px;
  }

  .sport-programme__btn {
    font-size: 20px;
    line-height: 20px;
    padding: 20px 47px 20px 0;

    &:hover {
      padding-right: 55px;
    }
  }
}

@media (min-width: @desktop-width) {
  .sport-programme {
    padding-top: 60px;
    padding-bottom: 20px;
  }

  .sport-programme__btn {
    font-size: 20px;
    line-height: 20px;
    padding: 10px 47px 10px 0;

    &:hover {
      padding-right: 55px;
    }
  }

  .sport-programme__item {
    width: 570px;
    min-height: 370px;
    margin-bottom: 0;
    padding: 50px 52px 42px;
  }

  .sport-programme__title {
    font-size: 36px;
    line-height: 37px;
    padding-top: 26px;
    padding-bottom: 35px;
    padding-left: 162px;
    margin-bottom: 20px;

    &::before {
      content: "";
      width: 100px;
      height: 100px;
    }

    &--slim::after {
      width: 72px;
      height: 100px;
      left: 14px;
      top: 39px;
      background-image: url("../img/icon-cat-slim.svg");
    }

    &--pro::after {
      width: 134px;
      height: 56px;
      left: -16px;
      background-image: url("../img/icon-cat-pro.svg");
    }
  }

  .sport-programme__text {
    border-bottom: none;
    margin-bottom: 0;
  }
}
