.stats {
  padding-top: 10px;
  display: flex;
  padding-bottom: 0;
}

.stats__wrap {
  text-align: center;
  position: relative;
  margin-right: 33px;
  margin-bottom: 30px;
  padding: 15px 15px;
  border: 1px solid @secondary-bg--darken;
  border-radius: 5px;
  width: 124px;

  &:last-child {
    margin-right: 0;
  }
}

.stats__value {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: @primary-text--darken;
}

.stats__field {
  position: absolute;
  padding: 0 10px;
  font-size: 12px;
  line-height: 12px;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  width: 98px;
  background-color: @secondary-bg;
  text-align: center;
  font-family: @secondary-font;
}

@media (min-width: @tablet-width) {
  .stats__wrap {
    width: 160px;
    margin-right: 43px;
  }

  .stats__field {
    background-color: @white;
    font-size: 14px;
    line-height: 14px;
    width: 150px;
    bottom: -9px;
  }

  .stats__value {
    font-size: 30px;
    line-height: 37px;
  }
}

@media (min-width: @desktop-width) {
  .stats__field {
    background-color: @secondary-bg;
  }
}
