@font: 'Arial', sans-serif;
@font-add: 'Oswald', 'Arial', sans-serif;
@font-size: 14px;
@text-color-base: #444444;
@text-color-title: #111111;
@text-color-form: #222222;
@background-color-base: #ffffff;

// Цветовая гамма сайта
@green: #68b738; //основной зеленый тон сайта
@green-hover: #5eaa2f;

@white: rgba(255,255,255,1); // цвет текста
@white-hover: rgba(255,255,255,0.6);
@white-active: rgba(255,255,255,0.3);

@grey: #f2f2f2; // основной серый тон сайта
@grey-hover: #ebebeb;

@error-color: #ff8282; // ошибка при вводе input
