//Разрешения экранов
@mobile-width: 320px;
@tablet-width: 768px;
@desktop-width: 1200px;

//Шрифты
@primary-font: 'Oswald', 'Arial', sans-serif;
@secondary-font: 'Arial', sans-serif;

//Цвет текста
@primary-text: #444444;
@primary-text--dark: #222222;
@primary-text--darken:#111111;
@primary-text--30: rgba(68,68,68,0.3);

@secondary-text: rgba(255,255,255,1);
@secondary-text--dark: rgba(255,255,255,0.6);
@secondary-text--darken: rgba(255,255,255,0.3);

//Цвет фона
@primary-bg: #68b738; //green color
@primary-bg--dark: #5eaa2f;

@secondary-bg: #f2f2f2; //Серый фон сайта
@secondary-bg--dark: #ebebeb;
@secondary-bg--darken: #d9d9d9;

//Цвет уведомлений
@error-color: #ff8282;
