//Разрешения экранов
@mobile-width: 320px;
@tablet-width: 768px;
@desktop-width: 1300px;

//Шрифты
@primary-font: "Oswald", "Arial", sans-serif;
@secondary-font: "Arial", sans-serif;

// Библиотека цветов
@black: #444444;
@black--dark: #222222;
@black--darken: #111111;
@black--30: rgba(68, 68, 68, 0.3);
@black--60: rgba(68, 68, 68, 0.6);
@black--darken--30: rgba(68, 68, 68, 0.3);
@black--darken--60: rgba(68, 68, 68, 0.6);

@grey: #f2f2f2;
@grey--dark: #ebebeb;
@grey--darken: #d9d9d9;

@green--light: #63a73a;
@green: #68b738;
@green--dark: #5eaa2f;

@pink: #ff8282;

@white: rgba(255, 255, 255, 1);
@white--60: rgba(255, 255, 255, 0.6);
@white--30: rgba(255, 255, 255, 0.3);

//Цвет текста
@primary-text: @black;
@primary-text--dark: @black--dark;
@primary-text--darken: @black--darken;
@primary-text--30: @black--30;
@primary-text--60: @black--60;
@primary-text--darken--30: @black--darken--30;
@primary-text--darken--60: @black--darken--60;

@secondary-text: @white;
@secondary-text--dark: @white--60;
@secondary-text--darken: @white--30;

//Цвет фона
@primary-bg--light: @green--light;
@primary-bg: @green;
@primary-bg--dark: @green--dark;

@secondary-bg: @grey;
@secondary-bg--dark: @grey--dark;
@secondary-bg--darken: @grey--darken;

//Цвет уведомлений
@error-color: @pink;
